body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
  background-color: #fff;
}

a {
  color: #008489;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a:hover {
  text-decoration: underline;
}