body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
  background-color: #fff;
}

a {
  color: #008489;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

a:hover {
  text-decoration: underline;
}

.container-left {
  float: left;
  padding-left: 24px;
  width: 55%;
}

.container-right {
  float: right;
  position: fixed;
  left: 760px;
  top: 20px;
  right: 5%;
}

#description {
  margin-left: -94.5px;
  margin-top: 20px;
  margin-bottom: 5px;
}
